task/com.achelos.task.xmlparser/src/main/resources/schemas/input/MICS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:annotation>
		<xsd:documentation xml:lang="en">
			XML Schema for a machine readable "Information Conformance Statement".
		</xsd:documentation>
	</xsd:annotation>

	<xsd:element name="ICS">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Title" type="xsd:string" minOccurs="1" maxOccurs="1"/>
				<xsd:element name="Version" type="xsd:string" minOccurs="1" maxOccurs="1"/>
				<!-- This is optional -->
				<xsd:element name="Description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
				<!-- Chapter 3.1 -->
				<xsd:element name="ApplicationUnderTest" type="ApplicationUnderTest" minOccurs="1" maxOccurs="1"/>
				<!-- Chapter 3.2 -->
				<xsd:element name="Profiles" type="ProfileList" minOccurs="1" maxOccurs="1"/>
				<!-- Chapter 3.3 -->
				<xsd:element name="SupportedCryptography" type="SupportedCryptography" minOccurs="1" maxOccurs="1"/>
				<!-- Chapter 3.4 -->
				<!-- This is optional -->
				<!-- This is only mandatory if the CERTIFIED_CA profile was selected -->
				<xsd:element name="InformationOnTR03145Certification" type="InformationOnTR03145Certification" minOccurs="0" maxOccurs="1"/>
				<!-- Chapter 3.5-->
				<!-- This is optional -->
				<!-- This is only mandatory if the PSK profile was selected -->
				<xsd:element name="TLSWithPSKCipherSuites" type="TLSWithPSKCipherSuites" minOccurs="0" maxOccurs="1"/>
				<!-- Chapter 3.6 -->
				<xsd:element name="ConnectionTimeout" type="xsd:string" minOccurs="1" maxOccurs="1"/>
				<!-- Chapter 3.7 -->
				<!-- This is optional -->
				<!-- This is only mandatory if the TLS version TLSv1.3 is supported. -->
				<xsd:element name="Zero-RTTData" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
				<!-- Chapter 3.8 -->
				<!-- This is optional -->
				<!-- This is only mandatory if the CHECK_CERTS profile was selected -->
				<xsd:element name="TLSCertificates" type="TLSCertificates" minOccurs="0" maxOccurs="1"/>
				<!-- Additional Data: TLS client certificate for testing TLS client authentication-->
				<xsd:element name="ApplicationSpecificData" type="ApplicationSpecificData" minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	
	<xsd:complexType name="ApplicationUnderTest">
		<xsd:sequence>
			<xsd:element name="ApplicationType" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="RespectiveTechnicalGuideline" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:choice>
				<!-- In the case of an TLS Server, an URL and a port are necessary. -->
				<xsd:sequence>
					<xsd:element name="URL" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="Port" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<!-- In the case of an eID Server, an RMI Interface may be necessary. -->
					<xsd:element name="RMIURL" type="xsd:string" minOccurs="0" maxOccurs="1" />
					<xsd:element name="RMIPort" type="xsd:string" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
				<!-- In the case of an TLS client, an Executable and call arguments are necessary. -->
				<xsd:sequence>
					<xsd:element name="DUTExecutable" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="DUTCallArguments" type="DutCallArguments" minOccurs="1" maxOccurs="1" />
				</xsd:sequence>
				<!-- In the case of an eID-Client, the connection details of a running BrowserSimulator are necessary. -->
				<xsd:sequence>
					<xsd:element name="BrowserSimulatorURL" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="BrowserSimulatorPort" type="xsd:string" minOccurs="0" maxOccurs="1" />
					<xsd:element name="EIDClientPort" type="xsd:int" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="ProfileList">
		<xsd:sequence>
			<xsd:element name="Profile" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="SupportedCryptography">
		<xsd:sequence>
			<!-- Chapter 3.3 Table 4 -->
			<xsd:element name="SupportedTLSVersion" minOccurs="1" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<!-- Chapter 3.3 Table 5 -->
						<xsd:element name="SupportedCipherSuites" minOccurs="1" maxOccurs="1">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="CipherSuite" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<!-- Chapter 3.3 Table 6 -->
						<xsd:element name="SupportedKeyLengths" minOccurs="1" maxOccurs="1">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="MinimalKeyLength" minOccurs="0" maxOccurs="unbounded">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="Algorithm" type="xsd:string" minOccurs="1" maxOccurs="1" />
												<xsd:element name="MinimalSupportedKeyLength" type="xsd:int" minOccurs="1" maxOccurs="1" />
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<!-- Chapter 3.3 Table 7 -->
						<xsd:element name="SupportedEllipticCurves-DHGroups" minOccurs="1" maxOccurs="1">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Group" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<!-- Chapter 3.3 Table 8 -->
						<xsd:element name="SupportedSignatureAlgorithms" minOccurs="1" maxOccurs="1">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="SignatureAlgorithm" minOccurs="1" maxOccurs="unbounded">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="Name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
												<xsd:element name="HashName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<!-- Chapter 3.3 Table 9 -->
						<!-- This is optional and only required for TLS version TLSv1.3 -->
						<xsd:element name="SupportedSignatureAlgorithmsForCertificates" minOccurs="0" maxOccurs="1">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="SignatureScheme" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<!-- Chapter 3.3 Table 10 -->
						<xsd:element name="SupportedTLSExtensions" minOccurs="1" maxOccurs="1">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Extension" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="version" type="xsd:string" use="required"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Chapter 3.4 Table 11-->
	<!-- This is only mandatory if the CERTIFIED_CA profile was selected -->
	<xsd:complexType name="InformationOnTR03145Certification">
		<xsd:sequence>
			<xsd:element name="NameOfTheCA" type="xsd:string" minOccurs="1" maxOccurs="1" />
			<xsd:element name="BSICertificateNumber" type="xsd:string" minOccurs="1" maxOccurs="1" />
			<xsd:element name="Subject" type="xsd:string" minOccurs="1" maxOccurs="1" />
			<xsd:element name="ValidityNotBefore" type="xsd:string" minOccurs="1" maxOccurs="1" />
			<xsd:element name="ValidityNotAfter" type="xsd:string" minOccurs="1" maxOccurs="1" />
			<xsd:element name="SubjectKeyIdentifier" type="xsd:string" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<!-- Chapter 3.5 -->
	<!-- This is only mandatory if the PSK profile was selected -->	
	<xsd:complexType name="TLSWithPSKCipherSuites">
		<xsd:sequence>
			<xsd:element name="PSKValue" type="xsd:hexBinary" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="PSKIdentityHintValue" type="xsd:string" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Chapter 3.8 -->
	<xsd:complexType name="TLSCertificates">
		<xsd:sequence>
			<!-- Table 16 -->
			<xsd:element name="CertificateChain" minOccurs="1" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Certificate" minOccurs="1" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Subject" type="xsd:string" minOccurs="1" maxOccurs="1" />
									<xsd:element name="Fingerprint" type="xsd:hexBinary" minOccurs="1" maxOccurs="1" />
								</xsd:sequence>
								<xsd:attribute name="type" use="required">
									<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:enumeration value="RootCACertificate" />
												<xsd:enumeration value="IntermediateCertificate" />
												<xsd:enumeration value="EndEntityCertificate" />
											</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<!-- Table 17 -->
			<xsd:element name="ServerDomains" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="SubDomain" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- ApplicationSpecificData: e.g. TLS client certificate for the test of client authentication -->
	<xsd:complexType name="ApplicationSpecificData">
		<xsd:sequence>
			<!-- Table 16 -->
			<xsd:element name="TestClientCertificate" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="CertificateFile" type="xsd:string" minOccurs="1" maxOccurs="1"/>
						<xsd:element name="CertificatePrivateKey" type="xsd:string" minOccurs="1" maxOccurs="1"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<!-- DUTCallArguments: -->
	<xsd:complexType name="DutCallArguments">
		<xsd:sequence>
			<xsd:element name="StartConnectionArguments" type="xsd:string" minOccurs="1" maxOccurs="1" />
			<xsd:element name="ResumeConnectionArguments" type="xsd:string" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>